## В первом мини-проекте вам предстоит проанализировать данные о бронировании отелей.

### Задачи
<ol>
<li>Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.</li>
<li>Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.</li>
<li>Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.</li>
<li>На сколько ночей в среднем бронируют отели разных типов?</li>
<li>Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?</li>
<li>Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов</li>
<li>Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?</li>
<li>Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?</li>
<li>Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.</li>
</ol>
 
#### Описание данных:
* Hotel – тип отеля (City Hotel или Resort Hotel)  
* Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
* Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
* Arrival full date – полная дата прибытия
* Arrival date year – год прибытия  
* Arrival date month – месяц прибытия  
* Arrival date week number – номер недели прибытия
* Arrival date day of month – день прибытия
* Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
* Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
* Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
* Adults – число взрослых
* Children – число детей
* Babies – число младенцев 
* Meal – выбранный тип питания
* Country – страна происхождения клиента
* Reserved room type – тип зарезервированного номера
* Assigned room type – тип полученного номера (может отличаться от забронированного)
* Customer type – тип бронирования
* Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
* Reservation status date – дата обновления статуса

In [1]:
# Ипортируем Pandas
import pandas as pd

In [2]:
# Загружаем датасет в переменную bookings
bookings = pd.read_csv('2_bookings.csv', sep=';')

In [3]:
# Смотрим на данные в первых 7 строках
bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [4]:
# Проверяем размеры таблицы
bookings.shape

(119390, 21)

In [5]:
# Проверяем типы данных колонок
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [6]:
# Изменяем названия колонок, приводим к нижнему регистру и заменяем проблемы на нижние подчеркивания
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')

In [7]:
# Топ-5 стран по количеству успешных бронирований
bookings.query('is_canceled == 0').country.value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [8]:
# Среднее количество бронируемых ночей в зависимости от типа отеля
bookings.groupby('hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

In [9]:
# Количество раз, когда тип бронируемого номера не совпадал с типом полученного номера
bookings.query('assigned_room_type != reserved_room_type').hotel.count()

14917

In [10]:
# Количество бронирований на каждый месяц 2016 года
bookings.query('arrival_date_year == 2016')\
        .arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [11]:
# Количество бронирований на каждый месяц 2017 года
bookings.query('arrival_date_year == 2017')\
        .arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [12]:
# Количество отмененных бронирований по годам и месяцам для отелей типа City Hotel
bookings.query('hotel == "City Hotel" and is_canceled == 1')\
        .groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [13]:
# Среднее количество колонок 'adults', 'children' и 'babies'
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [14]:
# Сохраняем общее число детей в колонку total_kids
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [15]:
# Среднее число детей для каждого из типа отелей
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [16]:
# Создаем bool колонку с True, если при бронировании был указан ребенок
bookings['has_kids'] = bookings.total_kids > 0

In [17]:
# Процент отмен бронирования среди тех, у кого есть дети
bookings.query('has_kids == True and is_canceled == 1').shape[0] / \
    bookings.query('has_kids == True').shape[0] * 100

34.92284612087441

In [18]:
# Процент отмен бронирования среди тех, у кого нет детей
bookings.query('has_kids == False and is_canceled == 1').shape[0] / \
    bookings.query('has_kids == False').shape[0] * 100

37.221283323338604

In [19]:
bookings.groupby('has_kids').agg({'is_canceled': 'mean'})

          is_canceled
has_kids
False        0.372213
True         0.349228